<?xml version="1.0"?>

<robot name="rocker" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- Wheels -->
  <gazebo reference="fl_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>1e6</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.5</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>
  
  <gazebo reference="rr_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>1e6</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.5</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <gazebo reference="rl_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>1e6</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.5</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <gazebo reference="fr_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>1e6</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.5</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>
  
  <gazebo reference="steer_fl">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>100000.0</kp>
    <kd>10.0</kd>
  </gazebo>

  <gazebo reference="steer_fr">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>100000.0</kp>
    <kd>10.0</kd>
  </gazebo>

  <gazebo reference="steer_rl">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>100000.0</kp>
    <kd>10.0</kd>
  </gazebo>

  <gazebo reference="steer_rr">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>100000.0</kp>
    <kd>10.0</kd>
  </gazebo>

  <gazebo>
    <!-- ROS 2 Control Plugin -->
    <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(find rocker_controller)/config/rocker_controllers.yaml</parameters>
    </plugin>

    <!-- IMU Sensor System -->
    <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu"/>

    <!-- Sensor Management System -->
    <plugin filename="ignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors"/>
  </gazebo>
  <!-- Detachable Joint Plugin to Simulate Multi-Parent (e.g., 4-bar style) -->
  <gazebo>
    <plugin filename="libgz-sim-detachable-joint-system.so" name="gz::sim::systems::DetachableJoint">
      <parent_link>rocker_left</parent_link>
      <child_model>bot</child_model>   
      <child_link>turnbuckle_left</child_link>
      <attach_topic>attach_diff_to_left</attach_topic>
    </plugin>
    <plugin filename="libgz-sim-detachable-joint-system.so" name="gz::sim::systems::DetachableJoint">
      <parent_link>rocker_right</parent_link>
      <child_model>bot</child_model>   
      <child_link>turnbuckle_right</child_link>
      <attach_topic>attach_diff_to_right</attach_topic>
    </plugin>
  </gazebo>

</robot>